{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="/styles/app.css">
</head>

<body>

	<header class="site-header center-width">
		<div id="site-logo">
			<a href="#">
				<img src="images/logo_bijou.jpg" alt="{{ siteName }}">
			</a>
		</div>
		<nav class="site-nav">
			<ul class="nav site-nav__list">
				<li><a href="{{ siteUrl }}">Home</a></li>
				<li><a href="{{ url('products') }}" {% if craft.request.firstSegment == 'products' %} class="active" {% endif %}>Collections</a></li>
				<li><a href="{{ url('locations') }}" {% if craft.request.firstSegment == 'locations' %} class="active" {% endif %}>Locations</a></li>
				<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %} class="active" {% endif %}>About</a></li>
				<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %} class="active" {% endif %}>Blog</a></li>
				<li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %} class="active" {% endif %}>Contact</a></li>
			</ul>
		</nav>
		<div id="site-cart">
			<a href="">
				<img src="images/cart.jpg" alt="">
			</a>
		</div>
	</header>

	<div class="wrapper center-width">
		{% block content %}

		{% endblock %}
	</div>
	<footer class="center-width">
		<a href="#" class="social-link"><img src="images/fb.png" alt=""></a>
		<a href="#" class="social-link"><img src="images/tw.png" alt=""></a>
		<a href="#" class="social-link"><img src="images/ig.png" alt=""></a>
		<a href="mailto:info@mysite.com" class="mail-contact">info@mysite.com</a>
		<p class="small-text">© 2023 by Bijou. Proudly created with Wix.com</p>
	</footer>


	<script src="/scripts/vendor.js" defer></script>
	<script src="/scripts/app.js" defer></script>
	<!-- substitute:browsersync -->
</body>
</html>
